<html>
  <body>
    <form action='/weather/location' method='get'>
      <label for='name'>Location Name: </label><br>
      <input type='text' name='name' placeholder='Name'><br>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>